.container {
  display: grid;
  grid-template-columns: 9rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  letter-spacing: 0.4px;
  column-gap: 0rem;
  align-items: center;
  padding: 0rem 1.4rem;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: rgb(230, 223, 223);
  padding: 1rem 1rem;
  width: 110%;
  text-align: left;

  margin: -2rem 0;
}

.container::-webkit-scrollbar {
  display: none;
}

.container button {
  background-color: red;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.6rem 0;
  border-radius: 10px;
  border: none;
}

/* 

https://verisynth-onrender.com/api/v1/institution/upload/credential
image file upload

https://verisynth-onrender.com/api/v1/verify/credential
credential_ID
//query

https://verisynth-onrender.com/api/v1/institution/issue/credential


recipient_email: string;
recipient_ID: string;
fullname: string;
degree_name: string;
awarded_date: string;
expiration_date: string;
file_string: string; */
