.credentialformcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
}
.credentialformcontainer label {
  font-size: 1.6rem;
  width: 30%;
}
.credentialformcontainer input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
.credentialformcontainer input:focus {
  outline: none;
}
.credentialform {
  width: 80%;
  padding: 0rem 0rem;
  margin: 0rem auto;
  border-radius: 7px;
}
.credentialform h3 {
  margin: 2rem 1rem;
  font-size: 2.1rem;
}
.credentialformbtn {
  text-align: center;
  margin-top: 1rem;
  margin-left: 12rem;
  padding: 0.6rem 7rem;
  font-size: 1.3rem;
  background-color: #f15d0a;
  border-radius: 25px;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.credentialformbtn:hover {
  background-color: #bb5e28;
  color: white;
}
.fileupload div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  padding: 0.5rem 0rem;
}
/* .fileicon {
  font-size: 2rem;
} */
.filetext {
  margin: 1.5rem 1.5rem;
  font-size: 1.1rem;
}
.fileupload.label input[type="file"] {
  position: absolute;
  top: -1000px;
}
.fileinput {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.fileupload {
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 2rem 1rem;
  background: #dddddd;
  display: block;
  width: 25%;
}

.fileupload:active {
  background: #9fa1a0;
}

@media (max-width: 980px) {
  .credentialformcontainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .credentialformcontainer label {
    width: 100%;
  }
  .credentialformcontainer input {
    width: 100%;
  }
  .credentialformbtn {
    text-align: center;
    margin: 0.5rem 3rem;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
  }
  .credentialform {
    /* padding-bottom: 4rem; */
  }
  .credentialform h3 {
    margin: 2rem 1rem;
    font-size: 1.5rem;
  }
  .fileupload {
    padding: 2px 15px;
    margin: 1.5rem 1rem;
    width: 100%;
  }
  .fileupload div {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    padding: 0.3rem 0rem;
  }
}
