.credentialsbody {
  background-color: white;
  overflow-x: auto;
  height: 120vh;
  width: 110%;
  margin: -2rem 0;
}
.credentialscontainer {
  border: 1px solid rgb(155, 151, 151);
  font-size: 1.1rem;
  border-radius: 7px;
  width: 100%;
  margin: 0;
}
.credentialsbody::-webkit-scrollbar {
  display: none;
}

.credentialscontainer header {
  /* display: grid;
  grid-template-columns: 1.6fr 4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
  column-gap: 1.4rem; */
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: rgb(230, 223, 223);
  padding: 1.4rem 0rem;
  width: 110%;
  border-bottom: 1px solid rgb(187, 163, 163);
}
