.container {
  text-align: center;
  padding: 150px 0;
  line-height: 2;
}
.container h3 {
  font-size: 2.5rem;
}
.container p {
  font-size: 1.4rem;
}
.container a {
  background-color: #f15d0a;
  padding: 7px 8px;
  border-radius: 25px;
  border: none;
  margin: 0 1rem;
}
@media (max-width: 768px) {
  .container {
    text-align: center;
    padding: 100px 0;
    line-height: 1.9;
  }
  .container h3 {
    font-size: 1.5rem;
  }
  .container p {
    font-size: 1.2rem;
  }
  .container a {
    background-color: blue;
    padding: 7px 8px;
    border-radius: 25px;
    border: none;
    margin: 0 1rem;
  }
}
